<%- include("partials/header") -%>

<div class="container">
  <p><%= homeStartingContent %></p>

  <h2>Your Shares:</h2>
  <% if (posts && posts.length > 0) { %>
    <% posts.forEach(post => { %>
      <h1><a href="/post/<%= post._id %>"><%= post.title %></a></h1>
      <p><%= post.content.substring(0, 200) %>...</p>
      
       
    <% }) %>
  <% } else { %>
    <p>No posts to display.</p>
  <% } %>
</div>

<%- include("partials/footer") -%>
 