<%- include("partials/header") -%>

<div class="container">
  <div class="maindiv">
    <div class="img">
      <img class="notebook" src="/images/zz.png" alt="Notebook Image">
    </div>
    <div class="head">
      <p><%= homeStartingContent %></p>
      <a  href="/login"><button class="butt">Login to Start</button></a>
    </div>
    <div class="shares">
      <div class="kk">
       
        <div class="your">
          <h2>Your Shares</h2>
        </div>
        <div class="icon">
          <img class="icon1" src="/images/pen.png" alt="">
        </div>
       
      </div>
     
      <% if (posts && posts.length > 0) { %>
        <% posts.forEach(post => { %>
          <h1 class="blogHead"><a class="a" href="/post/<%= post._id %>"><%= post.title %></a></h1>
          <p class="blogContent"><%= post.content.substring(0, 200) %>...</p>
        <% }) %>
      <% } else { %>
        <p>No posts to display.</p>
      <% } %>
    </div>
  </div>
</div>

<!-- <%- include("partials/footer") -%> -->
